App_WebReferences/ws_Reporteador/Reporteador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Reporteador" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Reaseguro/Reporteador/Reporteador.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Reaseguro/Reporteador/Reporteador.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Reaseguro/Reporteador/Reporteador.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Reaseguro/Reporteador/Reporteador.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WS_GMX" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReporteador_InsertaVersionReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertaVersionReporte" />
  </wsdl:message>
  <wsdl:message name="IReporteador_InsertaVersionReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertaVersionReporteResponse" />
  </wsdl:message>
  <wsdl:message name="IReporteador_ObtieneVersionReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneVersionReporte" />
  </wsdl:message>
  <wsdl:message name="IReporteador_ObtieneVersionReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneVersionReporteResponse" />
  </wsdl:message>
  <wsdl:portType name="IReporteador">
    <wsdl:operation name="InsertaVersionReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteador/InsertaVersionReporte" message="tns:IReporteador_InsertaVersionReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteador/InsertaVersionReporteResponse" message="tns:IReporteador_InsertaVersionReporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneVersionReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporteador/ObtieneVersionReporte" message="tns:IReporteador_ObtieneVersionReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporteador/ObtieneVersionReporteResponse" message="tns:IReporteador_ObtieneVersionReporte_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReporteador" type="tns:IReporteador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertaVersionReporte">
      <soap:operation soapAction="http://tempuri.org/IReporteador/InsertaVersionReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneVersionReporte">
      <soap:operation soapAction="http://tempuri.org/IReporteador/ObtieneVersionReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reporteador">
    <wsdl:port name="BasicHttpBinding_IReporteador" binding="tns:BasicHttpBinding_IReporteador">
      <soap:address location="http://internoservicios.gmx.com.mx:88/WS_GMXStros/Reaseguro/Reporteador/Reporteador.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>